html { 
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
 
body {
    font-size: 10.5pt;
    width: 1000px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
} 
 
.col-group { 
    width: 100%;
    max-width: 100%;
    display: flex;
}

.container-1 {
    width: 100%;
    background-color: rgb(188, 208, 214);
    padding: 5px 5px;
    /* margin-left: -8px; */
}

.container-2 {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 0px;
    /* background-color: lightcyan; */
    padding-left: 8px;
}

.container-2 p {
    line-height: 1.6;
}

.container-2 li {
    line-height: 1.6;
}

.snug {
    margin-top: -25px;
}

footer {
    font-style: normal;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.pdf {
    color: white;
    background-color: royalblue;
    border: none;
    border-radius: 5px;
    font-size: normal;
}

.pdf a {
    color: white;
    text-decoration: none;
}